
services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: auth-app
    restart: unless-stopped
    ports:
      - "7000:7000"
    env_file:
      - .env
    depends_on:
      - mongo

volumes:
  mongo-data:
